extends ./index

block main
    center
        h1 Привет Создатель!
        br
        a(href="/" class="link")
            button(class="btn btn-primary") Главная сайта
        a(href="/profile")
            button(class="btn btn-primary") Профиль на сайте
        a(href="/olympList")
            button(class="btn btn-primary") Олимпиады на сайте
        a(href="/founder/olymp")
            button(class="btn btn-primary") Все доступные олимпиады