html(lang="en")
    head
        title Страница Создателей
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="stylesheets/bootstrap/bootstrap.min.css")
    body
        h1 Привет Создатель!
        br
        a(href="/" class="link") Главная сайта
        a(href="/profile") Профиль на сайте
        a(href="/olympList") Олимпиады на сайте
        a(href="/founder/olymp") Все доступные олимпиады