extends ./index

block main
    center
        h1 Олимпиады
    div
        form(action="/founder/olymp" method="post")
            label(for="table") Загрузить новую олимпиаду
            input(type="file", name="table" id="table" required)
            button(type="submit")
        form(action="/founder/olymp" method="post")
            label(for="table") Загрузить новое описание олимпиад
            input(type="file", name="tableInfo" id="table" required)
            button(type="submit")
    div(style="margin: 5px 10% 5px 10%;border-right: solid 1px black;border-left: solid 1px black;border-bottom: solid 1px black;")
        table(class="table table-hover")
            tr
                th(scope="col") id
                th(scope="col") name
                th(scope="col") url
                th(scope="col") options
            each item in arrOlymp
                    tr
                        th(scope="row")= item.id
                        td= item.name
                        td= item.url
                        td
                            a(href="./olympRedactor") Редактировать