html(lang="en")
    head
        <title>Страница Создателей</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    body
        h1 Олимпиады
        each item in arrOlymp
            table
                td
                    tr= item.id
                td
                    tr= item.name
                td
                    tr= item.url
                td
                    tr
                        a(href="./olympRedactor") Редактировать