<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/aboutUs.css">
    <script src="scripts/main.js"></script>
    <title><%= title_page%></title>
</head>
<body>
    <header id="header">
        <div class="siteLogo">
            <a href="/">
                <img src="images/logover2.png" alt="">
                <span>MirukiBox</span>
            </a>
        </div>
        <nav class="nav-zatychka">
            <a href="/olympList">
                <span>
                    Олимпиады
                </span>
            </a>
            <a href="/certificate">
                <span>
                    Сертификаты
                </span>
            </a>
            <a href="/about">
                <span>
                    О нас
                </span>
            </a>
        </nav>
        <div class="userMenu">
            <!--<div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>-->
            <div class="nav-main" onclick="navOpen()">
            </div>
            <div class="nav-content">
                <a href="/">
                <span>
                    Главная
                </span>
                </a>
                <a href="/olympList">
                <span>
                    Олимпиады
                </span>
                </a>
                <a href="/certificate">
                    <span>
                        Сертификаты
                    </span>
                    </a>
                <a href="/about">
                <span>
                    О нас
                </span>
                </a>
            </div>
        </div>
    </header>
    <article>

        <section class="main">
            <h1>О проэкте MirukiBox</h1>
            <p>Сайт создан студентами ПО-31 для защиты курсового проэкта</p>
            <p>Необходимость разработки Web-сайта «Проведение олимпиад по информатике» возникла в следствии как такового отсутствия данного программного продукта в Башкирском архитектурном колледже строительства и коммунального хозяйства. </p><p> Олимпиады по информатике – достаточно удобный, относительно быстрый и поощряющий юные умы способ проверки знаний учащихся учебных учреждений. </p><p>Наш сайт способен осуществить данную задачу очень эффективно. Основная тематика для проведения олимпиад – информатика. HTML/CSS, MS Office (MS Word, MS Excel, MS PowerPoint), C#, C++ и множество других языков. </p><p>Также предусмотрена возможность создания тестов, добавление в них различных вопросов, задач, просмотр результатов, создание олимпиад, скачивание сертификатов.</p>
        </section>
        <section class="management">
            <h2>Структора проэкта</h2>
            <div class="flex">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eum dignissimos, blanditiis saepe ducimus quod doloribus ipsam tempore facilis consequatur? Quos maxime eum aut adipisci nostrum voluptatem iusto, debitis sunt!</p>
                <img src="images/схема.png" alt="">
            </div>
        </section>
        <section class="back-end">
            <h2>За серверную часть отвечет ученик БАСКА Егор Леонтьев </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eum dignissimos, blanditiis saepe ducimus quod doloribus ipsam tempore facilis consequatur? Quos maxime eum aut adipisci nostrum voluptatem iusto, debitis sunt!</p>
        </section>
        <section class="front-end">
            <h2>За визуальную часть отвечет ученик БАСКА Самошкин Никита </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eum dignissimos, blanditiis saepe ducimus quod doloribus ipsam tempore facilis consequatur? Quos maxime eum aut adipisci nostrum voluptatem iusto, debitis sunt!</p>
        </section>
        <section class="something">
            <h2>За контент и тесты отвечет ученик БАСКА Владислав Скрепко </h2>
            <p>Наше интерактивное средство обучения предназначено для участия в олимпиадах по различным тематикам. В нем составлены достаточно интересные тестовые задания. Это интерактивное средство учит не только и не столько "нажимать кнопки", его главная задача – помочь пользователю оценить его уровень знаний, указать на ошибки.

                Сайт будет полезен как начинающим, так и опытным пользователям, желающим пройти олимпиады, проверить знания и получить соответствующий сертификат.</p>
        </section>
            
    </article>

    <footer>
        <ul>
            <li>Навигация</li>
            <li><a href="/">Главная</a></li>
            <li><a href="/olympList">Олимпиады</a></li>
            <li><a href="/certificate">Сертификаты</a></li>
            <li><a href="/about">О нас</a></li>
        </ul>

        <ul>
            <li>Контакты</li>
            <li>Почта: standart@mail.gomo</li>
            <li>Адресс: тупо БАСК</li>
        </ul>
    </footer>
</body>
</html>