<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article>
        <form action="/certificate/find/" method="GET">
        <input type="text" name="usr" placeholder="Example">
        <button type="submit">Найти!</button>
        <button type="reset">Очистить</button>
        </form>
    </article>
</body>
</html>