<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="preLoader">
        <img src="/images/loaderDEMO.gif" alt="loading...">
    </div>
    <header id="header">
        <div class="siteLogo">
            <a href="/">
                <img src="images/logover2.png" alt="">
                <span>MirukiBox</span>
            </a>
        </div>
        <nav class="nav-zatychka">
            <a href="/olympList">
                <span>
                    Олимпиады
                </span>
            </a>
            <a href="/certificate">
                <span>
                    Сертификаты
                </span>
            </a>
            <a href="/about">
                <span>
                    О нас
                </span>
            </a>
        </nav>
        <div class="userMenu">
            <!--<div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>-->
            <div class="nav-main" onclick="navOpen()">
            </div>
            <div class="nav-content">
                <a href="/">
                <span>
                    Главная
                </span>
                </a>
                <a href="/olympList">
                <span>
                    Олимпиады
                </span>
                </a>
                <a href="/certificate">
                    <span>
                        Сертификаты
                    </span>
                    </a>
                <a href="/about">
                <span>
                    О нас
                </span>
                </a>
            </div>
        </div>
    </header>
    <article>
        <form action="/certificate/find/" method="GET">
        <input type="text" name="usr" placeholder="Example">
        <button type="submit">Найти!</button>
        <button type="reset">Очистить</button>
        </form>
    </article>
    <footer>
        <ul>
            <li>Навигация</li>
            <li><a href="/">Главная</a></li>
            <li><a href="/olympList">Олимпиады</a></li>
            <li><a href="/certificate">Сертификаты</a></li>
            <li><a href="/about">О нас</a></li>
        </ul>

        <ul>
            <li>Контакты</li>
            <li>Почта: standart@mail.gomo</li>
            <li>Адресс: тупо БАСК</li>
        </ul>
    </footer>
</body>
</html>