<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comand Line</title>
</head>
<body>
    <form action="/" method="POST">
        <div>
            <label for="textLine" style="font-size: 14px; color: gray;">Comand Line</label><br>
            <input type="text" name="textLine" id="TextLine" placeholder="Example">
        </div>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>