<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="stylesheets/index.css">
    <title><%= title_page%></title>
</head>
<body>
    <div class="preLoader">
        <div class="carousel"></div>
        <p class="loadingText">Loading</p>
    </div>
    <header id="header">
        <div class="siteLogo">
            <a href="/">
                <img src="images/logover2.png" alt="">
                <span>MirukiBox</span>
            </a>
        </div>
        <nav class="nav-zatychka">
            <a href="/olympList">
                <span>
                    Олимпиады
                </span>
            </a>
            <a href="/certificate">
                <span>
                    Сертификаты
                </span>
            </a>
            <a href="/about">
                <span>
                    О нас
                </span>
            </a>
        </nav>
        <div class="userMenu">
            <!--<div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>-->
            <div class="nav-main" onclick="navOpen()">
            </div>
            <div class="nav-content">
                <a href="/">
                <span>
                    Главная
                </span>
                </a>
                <a href="/olympList">
                <span>
                    Олимпиады
                </span>
                </a>
                <a href="/certificate">
                    <span>
                        Сертификаты
                    </span>
                    </a>
                <a href="/about">
                <span>
                    О нас
                </span>
                </a>
            </div>
        </div>
    </header>
    <article>
        <section class="banner">
            <div class="textBlock">
                <span class="subText">Лучший инструмент для проверки знаний</span>
                <h1>Олимпиады MirukiBox</h1>
                <span>Вопросы написанные лучшими преподователями БАСК'а</span>
                <br>
                <a href="/olympList"><button>проверь свои знания на прочность</button></a>
            </div>
        </section>
        <h2 class="cards-label">Наши направления</h2>
        <section class="cardsContainer">
            <div class="cardsFlex">
                <div class="cards">
                    <div class="card">
                        <img src="images/arch.png" alt="Иконка специальности">
                        <h3>Архитектура</h3>
                        <p>Проверка знаний современных стандартов планировки и строительства</p>
                    </div>
                    <div class="card">
                        <img src="images/prog.png" alt="Иконка специальности">
                        <h3>Программирование</h3>
                        <p>Инновационные методы программирования, использующийся в самых известных IT компаниях.</p>
                    </div>
                    <div class="card">
                        <img src="images/weld.png" alt="Иконка специальности">
                        <h3>Сварка</h3>
                        <p>Обращение с современными сварочными аппаратами и глубочайшие тонкости процесса сварки</p>
                    </div>
                    <div class="card">
                        <img src="images/mech.png" alt="Иконка специальности">
                        <h3>Автомеханика</h3>
                        <p>Выполнение ремонтных работ и техобслуживание автомобилей, контроль состояния транспортных средств.</p>
                    </div>
                    <div class="card">
                        <img src="images/office.png" alt="Иконка специальности">
                        <h3>Офисное ПО</h3>
                        <p>Проверка умений работы с ПО от Microsoft. Такими как Word, Excel, Acess, PowerPoint</p>
                    </div>
                    <div class="card">
                        <img src="images/art.png" alt="Иконка специальности">
                        <h3>Графические ПО</h3>
                        <p>Работа с редакторами векторной и растровой графики. Основы дизайна, значения цветов и их комбинации.</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
        </section>
    </article>

    <footer>
        <ul>
            <li>Навигация</li>
            <li><a href="/">Главная</a></li>
            <li><a href="/olympList">Олимпиады</a></li>
            <li><a href="/certificate">Сертификаты</a></li>
            <li><a href="/about">О нас</a></li>
        </ul>

        <ul>
            <li>Контакты</li>
            <li>Почта: standart@mail.gomo</li>
            <li>Адресс: тупо БАСК</li>
        </ul>

    </footer>
</body>
</html>