<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed:300,300i,400,700&display=swap&subset=cyrillic" rel="stylesheet"> 
    <title><%= title_page%></title>
</head>
<body>
    <nav>
        <div class="siteLogo">
            <img src="images/logover1yellow.svg" alt="">
            <span>MirukiBox</span>
        </div>
        <div class="siteSection">
            <span>Главная</span>
            <div class="ico"></div>
        </div>
        <div class="siteSection">
            <span>Олимпиады</span>
            <div class="ico"></div>
        </div>
        <div class="siteSection">
            <span>Администрирование олимпиад</span>
            <div class="ico"></div>
        </div>
    </nav>

    <header>
        <div class="siteLogo">
            <img src="images/logover1black.svg" alt="">
            <span>MirukiBox</span>
        </div>
        <div class="userMenu">
            <div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>
        </div>
    </header>

    <article>
        <figure>
            <figcaption>
                <div class="textBlock">
                    <span class="subText">Лучший инструмент для проверки знаний</span>
                    <h1>Олимпиады MirukiBox</h1>
                    <span>Вопросы написанные лучшими преподователями БАСК'а</span>
                    <br>
                    <button>проверь свои знания на прочность</button>
                </div>
            </figcaption>
            <img src="images/затычка.png" alt="">
        </figure>
        <section class="cardsContainer">
            <h2>Наши специальности</h2>
            <div class="cardsFlex">
                <div class="cards">
                    <div class="card">
                        <img src="images/ICO.svg" alt="Иконка специальности">
                        <h3>Программирование</h3>
                        <p>Современные методы программирования, использующийся в самых известных IT компаниях.</p>
                    </div>
                    <div class="card">
                        <img src="images/ICO.svg" alt="Иконка специальности">
                        <h3>Программирование</h3>
                        <p>Современные методы программирования, использующийся в самых известных IT компаниях.</p>
                    </div>
                    <div class="card">
                        <img src="images/ICO.svg" alt="Иконка специальности">
                        <h3>Программирование</h3>
                        <p>Современные методы программирования, использующийся в самых известных IT компаниях.</p>
                    </div>
                    <div class="card">
                        <img src="images/ICO.svg" alt="Иконка специальности">
                        <h3>Программирование</h3>
                        <p>Современные методы программирования, использующийся в самых известных IT компаниях.</p>
                    </div>
                </div>
            </div>
        </section>

        <section>

        </section>
    </article>

    <footer>

    </footer>
</body>
</html>