<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed:300,300i,400,700&display=swap&subset=cyrillic" rel="stylesheet"> 
    <title><%= title_page%></title>
    <script src="/scripts/main.js"></script>
</head>
<body>
    <div id="preLoader"></div>
    <a href="#header"><div class="blickDagger"></div></a>
    <header id="header">
        <div class="siteLogo">
            <img src="images/logover2purple.svg" alt="">
            <span>MirukiBox</span>
        </div>
        <nav class="nav-zatychka">
            <span>Олимпиады</span>
            <span>О нас</span>
        </nav>
        <div class="userMenu">
            <div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>
            <div class="nav-main" onclick="navOpen()">
            </div>
            <div class="nav-content">
                <span>
                    Главная
                </span>
                <img src="" alt="">
                <span>
                    Олимпиады
                </span>
                <img src="" alt="">
                <span>
                    О нас
                </span>
                <img src="" alt="">
            </div>
        </div>
    </header>
    <article>
        <figure>
            <figcaption>
                <div class="textBlock">
                    <span class="subText">Лучший инструмент для проверки знаний</span>
                    <h1>Олимпиады MirukiBox</h1>
                    <span>Вопросы написанные лучшими преподователями БАСК'а</span>
                    <br>
                    <button>проверь свои знания на прочность</button>
                </div>
            </figcaption>
            <img src="images/затычка.png" alt="">
        </figure>
        <section class="cardsContainer">
            <h2>Наши специальности</h2>
            <div class="cardsFlex">
                <div class="cards">
                    <div class="card">
                        <img src="images/ICO.svg" alt="Иконка специальности">
                        <h3>Программирование</h3>
                        <p>Современные методы программирования, использующийся в самых известных IT компаниях.</p>
                    </div>
                    <div class="card">
                        <img src="images/ICO.svg" alt="Иконка специальности">
                        <h3>Программирование</h3>
                        <p>Современные методы программирования, использующийся в самых известных IT компаниях.</p>
                    </div>
                    <div class="card">
                        <img src="images/ICO.svg" alt="Иконка специальности">
                        <h3>Программирование</h3>
                        <p>Современные методы программирования, использующийся в самых известных IT компаниях.</p>
                    </div>
                    <div class="card">
                        <img src="images/ICO.svg" alt="Иконка специальности">
                        <h3>Программирование</h3>
                        <p>Современные методы программирования, использующийся в самых известных IT компаниях.</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
        </section>
    </article>

    <footer>
        DEUS BULK!
    </footer>
</body>
</html>