<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="stylesheets/olympWalkthrough.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed:300,300i,400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <title>затычка</title>
</head>
<body>
    <div class="preLoader">
        <img src="/images/loaderDEMO.gif" alt="loading...">
    </div>
    <header id="header">
        <div class="siteLogo">
            <a href="/">
                <img src="images/logover2.png" alt="">
                <span>MirukiBox</span>
            </a>
        </div>
        <nav class="nav-zatychka">
            <a href="/olympList">
                <span>
                    Олимпиады
                </span>
            </a>
            <a href="/certificate">
                <span>
                    Сертификаты
                </span>
            </a>
            <a href="/about">
                <span>
                    О нас
                </span>
            </a>
        </nav>
        <div class="userMenu">
            <!--<div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>-->
            <div class="nav-main" onclick="navOpen()">
            </div>
            <div class="nav-content">
                <a href="/">
                <span>
                    Главная
                </span>
                </a>
                <a href="/olympList">
                <span>
                    Олимпиады
                </span>
                </a>
                <a href="/certificate">
                    <span>
                        Сертификаты
                    </span>
                    </a>
                <a href="/about">
                <span>
                    О нас
                </span>
                </a>
            </div>
        </div>
    </header>
    <article>

        <section class="olymp-head">
            <img src="images/ico.png" alt="">
            <h1>Название олимпиады</h1>
        </section>
        <form action="">
            <div class="olymp-flex">
                <section class="olymp-body">
                    <div class="olymp-question">
                        <h2>Вопрос номер <span id="questNum">#</span></h2>
                        <h3 id="question">Что изабраженно на этой картинке?</h2>
                        <img src="images/Безымянный.png" alt="">
                    </div>
                    <div class="olymp-answers">
                        <ul>
                            <li><span id="answTag">a)</span> Серый квадрат <input type="checkbox" name="" id=""></li>
                            <li><span id="answTag">b)</span> Ничего <input type="checkbox" name="" id=""></li>
                            <li><span id="answTag">c)</span> Пустата <input type="checkbox" name="" id=""></li>
                            <li><span id="answTag">d)</span> В душе моём <input type="checkbox" name="" id=""></li>
                        </ul>
                    </div>
                </section>
                <section class="olymp-nav">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    
                </section>
            </div>
        </form>
    </article>
    <footer>
        <ul>
            <li>Навигация</li>
            <li><a href="/">Главная</a></li>
            <li><a href="/olympList">Олимпиады</a></li>
            <li><a href="/certificate">Сертификаты</a></li>
            <li><a href="/about">О нас</a></li>
        </ul>

        <ul>
            <li>Контакты</li>
            <li>Почта: standart@mail.gomo</li>
            <li>Адресс: тупо БАСК</li>
        </ul>
    </footer>
</body>
</html>