<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/scripts/main.js"></script>
    <link rel="stylesheet" href="/stylesheets/olympWalkthrough.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed:300,300i,400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <script src="/scripts/olympWalkthrough.js"></script>
    <title>затычка</title>
</head>
<body>
    <div class="preLoader">
        <div class="carousel"></div>
        <p class="loadingText">Loading</p>
    </div>
    <header id="header">
        <div class="siteLogo">
            <a href="/">
                <img src="/images/logover2.png" alt="">
                <span>MirukiBox</span>
            </a>
        </div>
        <nav class="nav-zatychka">
            <a href="/olympList">
                <span>
                    Олимпиады
                </span>
            </a>
            <a href="/certificate">
                <span>
                    Сертификаты
                </span>
            </a>
            <a href="/about">
                <span>
                    О нас
                </span>
            </a>
        </nav>
        <div class="userMenu">
            <!--<div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>-->
            <div class="nav-main" onclick="navOpen()">
            </div>
            <div class="nav-content">
                <a href="/">
                <span>
                    Главная
                </span>
                </a>
                <a href="/olympList">
                <span>
                    Олимпиады
                </span>
                </a>
                <a href="/certificate">
                    <span>
                        Сертификаты
                    </span>
                    </a>
                <a href="/about">
                <span>
                    О нас
                </span>
                </a>
            </div>
        </div>
    </header>
    <article>

        <section class="olymp-head">
            <img src="/images/ico.png" alt="">
            <h1>Название олимпиады</h1>
        </section>
        <form action="">
            <div class="olymp-flex">
                <section class="olymp-body">
                    <div class="buttons">
                        <button>submit</button>
                    </div>
                </section>
                <section class="olymp-nav">
                    
                </section>
            </div>
        </form>
        <script>
            //TODO: Создание вот тут вот
            //не ругайся на меня плез если чтото не так, просто напиши что не так или что переделать я исправлю

            //имя и иконка олимпиады
            //generateHead('Имя олимпиады', 'Тута котегория');
            //ща напишу функцию на перевод твоих в мои (чтобы не париться лишний раз)
            //UPD: вот translateCat('name')
            //я вставил её в функцию => если ты напишешь generateHead('Имя олимпиады', 'programming'); то категория будет программирование
            
            /*создание вопросов функцией:
            generateQuest('Вопрос строкой', 'Тип вопроса (radio,checkbox,textbox)', 'Тип опционального контента(nothing,image,code)', 'опциональный контент', 'ответы в виде массива');
            При типе вопроса textbox в ответы пиши '', тк не знаю как сделать чтоб скипалось :с
            UPD: раньше функция просила правильные ответы, но я тут понял что не использую их, хотя при генерации и не должен наверное
            */
            
            /* опциональный контент:
             если nothing в 'опциональный контент' пиши что угодно или '' (хз как сделать чтобы скипало вот это вот если ничего не пишешь)
            если image пишешь url (тип "/image/..../папка/файл.имг")
            если code то просто строчку с кодом или хз как могу поменять
            */

            /*ПРИМЕР ГИНЕРАЦИИ*/
            generateHead('C#', 'programming');
            
            let quest = 'Как жить?'
            let type = 'radio'
            let optType = 'code'
            //В коде это выглядит не красиво но хз как это по другому сделать
            let code = `function getCurrentBlockNum(){
    var qstBlocks = document.getElementsByClassName('question');
    for(qstBlock = 0; qstBlock <= qstBlocks.length; qstBlock-=-1){
        if(qstBlocks[qstBlock].className == 'question current'){
            return qstBlock;
        }
    }
}`;
            let answersTest = ['Никак', 'Учи философию', 'Тыж программист!', 'AVE MARIA'];
            generateQuest(quest, type, optType , code, answersTest);
            quest = 'Норм сделал?'
            type = 'checkbox'
            optType = 'nothing'
            answersTest = ['Нет', 'Никита, ты дцп', 'Не очень', 'Ужасно', 'Очень плохо', 'Просто разрыв жепы от этого', 'Никита очень плохой человек'];
            generateQuest(quest, type, optType , '', answersTest);
            quest = 'Мне грустно'
            type = 'textbox'
            optType = 'image'
            let img = '/images/sad.jpg' 
            generateQuest(quest, type, optType , img, '');

        </script>
    </article>

    <footer>
        <ul>
            <li>Навигация</li>
            <li><a href="/">Главная</a></li>
            <li><a href="/olympList">Олимпиады</a></li>
            <li><a href="/certificate">Сертификаты</a></li>
            <li><a href="/about">О нас</a></li>
        </ul>

        <ul>
            <li>Контакты</li>
            <li>Почта: standart@mail.gomo</li>
            <li>Адресс: тупо БАСК</li>
        </ul>
    </footer>
</body>
</html>
