<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/olympConstructor.css">
    <!--<script src="/scripts/olympCheckBox.js"></script>-->
    <script src="/scripts/olympConstructor.js"></script>
    <title>Создание тестов</title>
</head>
<body>
    <div id="preLoader"></div>
    <script src="/scripts/main.js"></script>
    <a href="#header"><div class="blickDagger"></div></a>
    <header id="header">
        <div class="siteLogo">
            <a href="/">
                <img src="images/logover2purple.svg" alt="">
                <span>MirukiBox</span>
            </a>
        </div>
        <nav class="nav-zatychka">
            <a href="/olympList">
                <span>
                    Олимпиады
                </span>
            </a>
            <a href="/about">
                <span>
                    О нас
                </span>
            </a>
        </nav>
        <div class="userMenu">
            <div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>
            <div class="nav-main" onclick="navOpen()">
            </div>
            <div class="nav-content">
                <a href="/">
                <span>
                    Главная
                </span>
                </a>
                <a href="/olympList">
                <span>
                    Олимпиады
                </span>
                </a>
                <a href="/about">
                <span>
                    О нас
                </span>
                </a>
            </div>
        </div>
    </header>
    <form action="/olympList/create/fix" method="post">
    <article>
        <section class="redactor">
            <div class="redactorArea" id="redactorArea">
                <div class="question current" id="q_1">
                    <h2>Выбирете тип вопроса:</h2>
                    <div class="questMode" id="radio" onclick="reDraw(document.getElementById('q_1'),  this)"><img src="/images/radio.svg" alt=""><span>Вопрос имеющий один ответ</span></div>
                    <div class="questMode" id="checkbox" onclick="reDraw(document.getElementsByClassName('question')[document.getElementsByClassName('question').length - 1], this)"><img src="/images/checkbox.svg" alt=""><span>Вопрос имеющий несколько ответов</span></div>
                    <div class="questMode" id="textbox" onclick="reDraw(document.getElementsByClassName('question')[document.getElementsByClassName('question').length - 1], this)"><img src="/images/textbox.svg" alt=""><span>Вопрос на который нужно дать письменный ответ (точное число или слово)</span></div>
                </div>
            </div>
            <div class="redactorButtons">
                <div type="reset">Cancel</div>
                <div type="submit">Submit</div>
            </div>
        </section>
        <section class="questContainer">
            <div class="questions" id="q">
                <div class="questionsScroll"></div>
                <div id="QList_1" class="questBlock" style="background-color: deeppink; outline-color: deeppink; margin-top: calc(5% + 10px);" onclick="SwitchQuestion(this)"><span>ВОПРОС НАМБА</span><span class="JOPA">1</span></div>
            </div>
            <div id="questCreate" onclick="AddQuestion(document.getElementsByClassName('question')[document.getElementsByClassName('question').length - 1])"><span>+</span></div>
        </section>
    </article>
</form>
<footer id="diiv"></footer>
</body>
</html>