<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/olympSelection.css">
    <script src="/scripts/olympSelection.js"></script>
    <script src="scripts/main.js"></script>
    <title>Затычка</title>
</head>
<body>
    <header id="header">
        <div class="siteLogo">
            <a href="/">
                <img src="images/logover2.png" alt="">
                <span>MirukiBox</span>
            </a>
        </div>
        <nav class="nav-zatychka">
            <a href="/olympList">
                <span>
                    Олимпиады
                </span>
            </a>
            <a href="/certificate">
                <span>
                    Сертификаты
                </span>
            </a>
            <a href="/about">
                <span>
                    О нас
                </span>
            </a>
        </nav>
        <div class="userMenu">
            <!--<div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>-->
            <div class="nav-main" onclick="navOpen()">
            </div>
            <div class="nav-content">
                <a href="/">
                <span>
                    Главная
                </span>
                </a>
                <a href="/olympList">
                <span>
                    Олимпиады
                </span>
                </a>
                <a href="/certificate">
                    <span>
                        Сертификаты
                    </span>
                    </a>
                <a href="/about">
                <span>
                    О нас
                </span>
                </a>
            </div>
        </div>
    </header>
    <article>
        <section class="olympCategories">
            <div class="cat-nav">
                <ul>
                    <li><img src="images/ico.png" alt=""></li>
                    <li><img src="images/ico.png" alt=""></li>
                    <li><img src="images/ico.png" alt=""></li>
                    <li><img src="images/ico.png" alt=""></li>
                    <li><img src="images/ico.png" alt=""></li>
                    <li><img src="images/ico.png" alt=""></li>
                    <li><a href="/olympList/create"><img src="images/AddOlymp.png" alt=""></a></li>
                </ul>
            </div>
            <div class="cat-head">
                <img src="images/ico.png" alt="">
                <h1>Название категории</h1>
            </div>
            <div class="cat-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita praesentium veritatis deserunt perspiciatis quod iusto dolore quas asperiores accusantium facere et nostrum numquam dolores, soluta nemo dolor non quibusdam laborum?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptas aliquid quae, quasi quaerat cumque nam animi modi sequi, commodi tempore autem, odit quod distinctio voluptates iste illum suscipit officiis!</p>
            </div>
        </section>
        <section class="olympSelect">
            <div class="olymp">
                <h3>Название Название Название Название Название</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto cupiditate eaque aliquid dolore blanditiis laborum dolores iusto, rerum quo voluptatum id aspernatur dolorem deserunt soluta rem laboriosam illo totam!</p>
                <a href=""><div>Участвовать</div></a>
            </div>
            <div class="olymp">
                <h3>Название</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto cupiditate eaque aliquid dolore blanditiis laborum dolores iusto, rerum quo voluptatum id aspernatur dolorem deserunt soluta rem laboriosam illo totam!</p>
                <a href=""><div>Участвовать</div></a>
            </div>
            <div class="olymp">
                <h3>Название</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto cupiditate eaque aliquid dolore blanditiis laborum dolores iusto, rerum quo voluptatum id aspernatur dolorem deserunt soluta rem laboriosam illo totam!</p>
                <a href=""><div>Участвовать</div></a>
            </div>
            <div class="olymp">
                <h3>Название</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto cupiditate eaque aliquid dolore blanditiis laborum dolores iusto, rerum quo voluptatum id aspernatur dolorem deserunt soluta rem laboriosam illo totam!</p>
                <a href=""><div>Участвовать</div></a>
            </div>
            <div class="olymp">
                <h3>Название</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto cupiditate eaque aliquid dolore blanditiis laborum dolores iusto, rerum quo voluptatum id aspernatur dolorem deserunt soluta rem laboriosam illo totam!</p>
                <a href=""><div>Участвовать</div></a>
            </div>
        </section>
    </article>
    <footer></footer>
</body>
</html>