<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/olympSelection.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed:300,300i,400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <script src="scripts/olympSelection.js"></script>
    <title>Затычка</title>
</head>
<body>
    <nav>
        <div class="siteLogo">
            <a href="/">
                <img src="images/logover1yellow.svg" alt="">
                <span>MirukiBox</span>
            </a>
        </div>
        <div class="siteSection">
            <a href="/">
                <span>Главная</span>
                <div class="ico"></div>
            </a>
        </div>
        <div class="siteSection">
            <a href="/"><span>Олимпиады</span></a>
            <div class="ico"></div>
        </div>
        <div class="siteSection">
            <a href="olympList/create"><span>Администрирование олимпиад</span></a>
            <div class="ico"></div>
        </div>
    </nav>
    
    <header>
        <div class="siteLogo">
            <a href="/">
            <img src="images/logover1black.svg" alt="">
            <span>MirukiBox</span>
            </a>
        </div>
        <div class="userMenu">
            <div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>
        </div>
    </header>
    <article>
        <section>
            <!--TODO: Сделать ссылку на testEngine.ejs-->
            <a href="">
                <figure style="background-color: gray;">
                    <div class="olympCategory">
                        <img src="images/ICO.svg" alt="">
                        <a href="/olympList/create">
                            <span>Создание олимпиады</span>
                        </a>
                    </div>
                    <div class="olympsCantainer"><!--ЗАТЫЧКА ПОЗЖЕ ПОФИКШУ--></div>
                </figure>
            </a>
            <figure>
                <div class="olympCategory">
                    <img src="images/ICO.svg" alt="">
                    <span>Программирование</span>
                </div>
                <div class="olympsCantainer">
                    <!--Тип плашечка с олимпиадой это будет ссылка на редактор олимпиады-->
                    <div class="olymp">
                        <span>HTML</span><span class="olympDate">19.04.2020</span>
                    </div>
                    <div class="olymp">
                        <span>CSS</span><span class="olympDate">21.05.2020</span>
                    </div>
                    <div class="olymp">
                        <span>JavaScript</span><span class="olympDate">30.04.2020</span>
                    </div>
                    <div class="olymp">
                        <span>PascalANC.NET</span><span class="olympDate">19.06.2021</span>
                    </div>
                    <div class="olymp">
                        <span>Python</span><span class="olympDate">12.11.2020</span>
                    </div>
                </div>
            </figure>
            <figure style="background-color: orange;">
                <div class="olympCategory">
                    <img src="images/ICO.svg" alt="">
                    <span>Строитнльство</span>
                </div>
                <div class="olympsCantainer">
                    <div class="olymp">
                        <span>Кладка плитки</span><span class="olympDate">19.04.2020</span>
                    </div>
                    <div class="olymp">
                        <span>Установка унитазов</span><span class="olympDate">21.05.2020</span>
                    </div>
                    <div class="olymp">
                        <span>Мантаж проводки</span><span class="olympDate">30.04.2020</span>
                    </div>
                </div>
            </figure>
            <figure style="background-color: green;">
                <div class="olympCategory">
                    <img src="images/ICO.svg" alt="">
                    <span>Архитектура</span>
                </div>
                <div class="olympsCantainer">
                    <div class="olymp">
                        <span>ХЗ</span><span class="olympDate">19.04.2020</span>
                    </div>
                    <div class="olymp">
                        <span>ХЗ</span><span class="olympDate">21.05.2020</span>
                    </div>
                    <div class="olymp">
                        <span>хз</span><span class="olympDate">30.04.2020</span>
                    </div>
                </div>
            </figure>
            <figure style="background-color: blue;">
                <div class="olympCategory">
                    <img src="images/ICO.svg" alt="">
                    <span>Офисные ПО</span>
                </div>
                <div class="olympsCantainer">
                    <div class="olymp">
                        <span>Word</span><span class="olympDate">19.04.2020</span>
                    </div>
                    <div class="olymp">
                        <span>Excel</span><span class="olympDate">21.05.2020</span>
                    </div>
                    <div class="olymp">
                        <span>Acess</span><span class="olympDate">30.04.2020</span>
                    </div>
                    <div class="olymp">
                        <span>Power Point</span><span class="olympDate">30.04.2020</span>
                    </div>
                    <div class="olymp">
                        <span>Open Office</span><span class="olympDate">30.04.2020</span>
                    </div>
                    <div class="olymp">
                        <span>Paint.NET</span><span class="olympDate">30.04.2020</span>
                    </div>
                </div>
            </figure>
            <figure style="background-color: deeppink;">
                <div class="olympCategory">
                    <img src="images/ICO.svg" alt="">
                    <span>ГЕЙминг</span>
                </div>
                <div class="olympsCantainer">
                    <div class="olymp">
                        <span>Майнклуфт</span><span class="olympDate">19.04.2020</span>
                    </div>
                    <div class="olymp">
                        <span>КСГО</span><span class="olympDate">21.05.2020</span>
                    </div>
                    <div class="olymp">
                        <span>Дота3</span><span class="olympDate">30.04.2020</span>
                    </div>
                    <div class="olymp">
                        <span>Овердроч</span><span class="olympDate">30.04.2020</span>
                    </div>
                    <div class="olymp">
                        <span>Хартстоне</span><span class="olympDate">30.04.2020</span>
                    </div>
                </div>
            </figure>
        </section>
    </article>
    <footer></footer>
</body>
</html>