<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/olympReview.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed:300,300i,400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <title>затычка</title>
</head>
<body>
    <div id="preLoader"></div>
    <script src="scripts/main.js"></script>
    <a href="#header"><div class="blickDagger"></div></a>
    <header id="header">
        <div class="siteLogo">
            <a href="/">
                <img src="images/logover2purple.svg" alt="">
                <span>MirukiBox</span>
            </a>
        </div>
        <nav class="nav-zatychka">
            <a href="/olympList">
                <span>
                    Олимпиады
                </span>
            </a>
            <a href="/about">
                <span>
                    О нас
                </span>
            </a>
        </nav>
        <div class="userMenu">
            <div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>
            <div class="nav-main" onclick="navOpen()">
            </div>
            <div class="nav-content">
                <a href="/">
                <span>
                    Главная
                </span>
                </a>
                <a href="/olympList">
                <span>
                    Олимпиады
                </span>
                </a>
                <a href="/about">
                <span>
                    О нас
                </span>
                </a>
            </div>
        </div>
    </header>
    <aside>
        <section class="review">
            <div class="review-head">
                <img src="images/ICO.png" alt="">
                <h1>Название Олимпиады</h1>
            </div>
            <div class="review-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem facilis eligendi tempora quia nisi. Magnam excepturi exercitationem atque deserunt quod soluta illum deleniti aliquam ex, illo nesciunt, totam nemo maiores.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem facilis eligendi tempora quia nisi. Magnam excepturi exercitationem atque deserunt quod soluta illum deleniti aliquam ex, illo nesciunt, totam nemo maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem facilis eligendi tempora quia nisi. Magnam excepturi exercitationem atque deserunt quod soluta illum deleniti aliquam ex, illo nesciunt, totam nemo maiores.
                </p>
                <a href="olympWalkthrough.html"><button>Участвовать</button></a>
            </div>
        </section>
    </aside>
</body>
</html>