<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="stylesheets/olympSelection.css">
    <script src="/scripts/olympSelection.js"></script>
    <title>Затычка</title>
    <script src="scripts/olympSelection.js"></script>
</head>
<body>
    <div class="preLoader">
        <img src="/images/loaderDEMO.gif" alt="loading...">
    </div>
    <header id="header">
        <div class="siteLogo">
            <a href="/">
                <img src="images/logover2.png" alt="">
                <span>MirukiBox</span>
            </a>
        </div>
        <nav class="nav-zatychka">
            <a href="/olympList">
                <span>
                    Олимпиады
                </span>
            </a>
            <a href="/certificate">
                <span>
                    Сертификаты
                </span>
            </a>
            <a href="/about">
                <span>
                    О нас
                </span>
            </a>
        </nav>
        <div class="userMenu">
            <!--<div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>-->
            <div class="nav-main" onclick="navOpen()">
            </div>
            <div class="nav-content">
                <a href="/">
                <span>
                    Главная
                </span>
                </a>
                <a href="/olympList">
                <span>
                    Олимпиады
                </span>
                </a>
                <a href="/certificate">
                    <span>
                        Сертификаты
                    </span>
                    </a>
                <a href="/about">
                <span>
                    О нас
                </span>
                </a>
            </div>
        </div>
    </header>
    <article>
        <section class="olympCategories">
            <div class="cat-nav">
                <ul>
                    <li><img src="images/arch.png" name="arch" onclick="catSelect('arch')"></li>
                    <li><img src="images/prog.png" name="prog" onclick="catSelect('prog')" style="box-shadow:15px 15px 0 -14px white,-15px -15px 0 -14px white;"></li>
                    <li><img src="images/weld.png" name="weld" onclick="catSelect('weld')"></li>
                    <li><img src="images/mech.png" name="mech" onclick="catSelect('mech')"></li>
                    <li><img src="images/office.png" name="office" onclick="catSelect('office')"></li>
                    <li><img src="images/art.png" name="art" onclick="catSelect('art')"></li>
                    <li><a href="/olympList/create"><img src="images/AddOlymp.png" alt=""></a></li>
                </ul>
            </div>
            <div class="cat-kit" id="arch" style="display: none;">
                <div class="cat-head">
                    <img src="images/arch.png" alt="">
                    <h1>Архитектура</h1>
                </div>
                <div class="cat-description">
                   <p>Профессия архитектора предполагает архитектурное проектирование на профессиональном уровне. В обязанности специалиста входят организация архитектурной среды, проектирование зданий и разработка объемно-планировочных и архитектурных решений.</p>
                </div>
            </div>
            <div class="cat-kit" id="prog" style="display: block;">
                <div class="cat-head">
                    <img src="images/prog.png" alt="">
                    <h1>Программирование</h1>
                </div>
                <div class="cat-description">
                    <p>Программист – это специалист, создающий исходный код для программы. Такой программой может быть операционная система компьютера, видеоигра, web или мобильное приложение и даже алгоритм работы микроволновки. Программный код пишется на специальном языке программирования. Он состоит из обычных слов и некоторых специальных символов. Сегодня насчитывается несколько сотен языков программирования, но самые распространенные из них – Java, Python, PHP, C#, JavaScript, C, С++, Objective-C, Swift. Какой язык программирования выбрать, программист решает сам в зависимости от конкретной задачи (сделать игру, приложение для web или программу для сервера) и собственных знаний. Квалифицированный программист уверенно использует 2-4 языка.</p>
                </div>
            </div>
            <div class="cat-kit" id="weld" style="display: none;">
                <div class="cat-head">
                    <img src="images/weld.png" alt="">
                    <h1>Сварка</h1>
                </div>
                <div class="cat-description">
                    <p>Сварщик – рабочая специальность и предусматривает работу на сварочном производстве. Специалист занимается соединением металлических конструкций, деталей, изделий, ёмкостей и трубопроводов разного вида, состава, предназначения и уровня сложности. От профессионального сварщика зависит качество работы и сварочных швов. В его работе не допускаются ошибки, которые могут привести к катастрофическим последствиям. Профессия сварщика подразделяется на несколько специальностей: газосварщик, сварщик ручной дуговой сварки, оператор автоматических сварочных аппаратов.</p>
                </div>
            </div>
            <div class="cat-kit" id="mech" style="display: none;">
                <div class="cat-head">
                    <img src="images/mech.png" alt="">
                    <h1>Механика</h1>
                </div>
                <div class="cat-description">
                    <p>В скоростной век автомобилей без профессии автомеханика не обойтись. Кто как не он найдёт причину неисправности и устранит её. В автосервисах такой специалист может выполнять самые различные виды работ. В настоящее время автомобильные организации занимаются как устранением небольшой неисправности автомобиля и косметическим ремонтом, так и полным восстановлением разбитой машины.</p>
                </div>
            </div>
            <div class="cat-kit" id="office" style="display: none;">
                <div class="cat-head">
                    <img src="images/office.png" alt="">
                    <h1>Офисное ПО</h1>
                </div>
                <div class="cat-description">
                    <p>Офисное программное обеспечение представляет собой комплекс программных продуктов для создания и эффективного использования прикладной среды, решения широкого спектра задач по работе с информацией, хранением, обработкой и обменом данными, автоматизации рабочих процессов, учета и управления. Способно функционировать только на базе предустановленной операционной системы, а, возможно, и других системных программных продуктов.</p>
                </div>
            </div>
            <div class="cat-kit" id="art" style="display: none;">
                <div class="cat-head">
                    <img src="images/art.png" alt="">
                    <h1>Графическое ПО</h1>
                </div>
                <div class="cat-description">
                    <p>Программное обеспечение, позволяющее создавать, редактировать или просматривать графические файлы. Компьютерную графику можно разделить на три категории — растровая графика, векторная графика и трёхмерная графика. Многие графические программы предназначены для обработки только векторного изображения или только растра, но существуют и программы, сочетающие оба типа. Достаточно просто преобразовать векторное изображение в растр, обратная задача является достаточно сложной, но существуют программы и для этого (т. н. векторизаторы). Программы для работы с трёхмерной графикой могут использовать как векторные (например, для построения сложных объектов), так и растровые (например, в качестве текстур) изображения.</p>
                </div>
            </div>
        </section>
        <section class="olympSelect">
            <h4 id="nothingMassage">Олимпиад не найденно</h4>
            <!--TODO: Сделать чтобы олимпиаду достовали из бд-->
            <!--
            <div class="olymp">
                <h3>Язык C#</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto cupiditate eaque aliquid dolore blanditiis laborum dolores iusto, rerum quo voluptatum id aspernatur dolorem deserunt soluta rem laboriosam illo totam!</p>
                <a href=""><div>Участвовать</div></a>
            </div>
            <div class="olymp">
                <h3>Язык C++</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto cupiditate eaque aliquid dolore blanditiis laborum dolores iusto, rerum quo voluptatum id aspernatur dolorem deserunt soluta rem laboriosam illo totam!</p>
                <a href=""><div>Участвовать</div></a>
            </div>
            <div class="olymp">
                <h3>Название</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto cupiditate eaque aliquid dolore blanditiis laborum dolores iusto, rerum quo voluptatum id aspernatur dolorem deserunt soluta rem laboriosam illo totam!</p>
                <a href=""><div>Участвовать</div></a>
            </div>
            <div class="olymp">
                <h3>Название</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto cupiditate eaque aliquid dolore blanditiis laborum dolores iusto, rerum quo voluptatum id aspernatur dolorem deserunt soluta rem laboriosam illo totam!</p>
                <a href=""><div>Участвовать</div></a>
            </div>
            <div class="olymp">
                <h3>Название</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto cupiditate eaque aliquid dolore blanditiis laborum dolores iusto, rerum quo voluptatum id aspernatur dolorem deserunt soluta rem laboriosam illo totam!</p>
                <a href=""><div>Участвовать</div></a>
            </div>
            -->
        </section>
    </article>
    <footer>
        <ul>
            <li>Навигация</li>
            <li><a href="/">Главная</a></li>
            <li><a href="/olympList">Олимпиады</a></li>
            <li><a href="/certificate">Сертификаты</a></li>
            <li><a href="/about">О нас</a></li>
        </ul>

        <ul>
            <li>Контакты</li>
            <li>Почта: standart@mail.gomo</li>
            <li>Адресс: тупо БАСК</li>
        </ul>
    </footer>
</body>
</html>