<!DOCTYPE html>
<html>
<head>
    <title>Создание сайта</title>
    <meta charset="utd-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/testCreation.css">
    <script type="text/javascript" src="scripts/testCreation.js"></script>
</head>
<body>
<div class="headerBackground"></div>
<div class="preloader"></div>
<div class="siteContent">
    <header>
        <!-- тута ничего нет :<-->
    </header>
    <content>
        <div class="preCreationP1 blowJobAnim">
            <input class="preCreationTextBox" type="text" placeholder="Название">
        </div>
        <div class="preCreationP2 blowJobAnim">
            <div class="preCreationLeftArrow"></div>
            <div class="preCreationRightArrow"></div>
            <div class="preCreationCourseButton"></div>
            <div class="preCreationCourseButton"></div>
            <div class="preCreationCourseButton"></div>
            <div class="preCreationCourseButton"></div>
            <div class="preCreationCourseButton"></div>
            <div class="preCreationCourseButton"></div>
            <div class="preCreationCourseButton"></div>
            <div class="preCreationCourseButton"></div>
        </div>
        <div class="preCreationP3 blowJobAnim">
            <div class="preCreationButton" id="boget">
                Продолжить
            </div>
        </div>
        <div class="creationDecoE1 creationStart"></div>
        <div class="creationDecoE2 creationStart"></div>
        <div class="creationUI creationStart">
            <!--
            <div class="questionMode"></div>
            <div class="questionMode"></div>
            <div class="questionMode"></div>
            -->

            <input class="questionText" type="text" name="" id="" placeholder="вопрос">
            <div class="answerContainer" id="1">
                <div class="answerTag">a)</div>
                <input class="answerText" type="text" name="" id="" placeholder="ответ">
                <div class="correctAnswer button" value="no">✓</div>
                <div class="button delete">-</div>
            </div><br><br><br>
            <div class="button create">+</div>

        </div>
        <div class="creationMenu creationStart">
            <div class="question">
                <div class="questName">Начало вопроса</div>
                <div class="questNumber">№1</div>
            </div>
            <div class="question qstCreate">+</div>
        </div>
        <div class="creationDecoE3 creationStart"></div>
        <div class="createBaget creationStart">
            <div class="cteateBagetButton">Завершить</div>
        </div>
    </content>
</div>
</body>
</html>
