article{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: calc(100vh - 100px);
    padding: 20px;
    background-color: black;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(213, 200, 255);
}

form h1{
    display: block;
}

form input[type = text]{
    display: block;
    border: none;
    font-size: 20px;
    border: solid black;
    border-radius: 0;
    border-width: 0 0 2px 0;
    background-color: transparent;
}

form input[type = text]:focus{
    outline: none;
}

form .buts{
    width: 100%;
    text-align: center;
}

form .buts button{
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 7px;
}

form .buts button:hover{
    color: rgb(54, 18, 88);
}

form .buts button:focus{
    color: rgb(157, 52, 255);
}