/* СТРУКТУРА
отображение
позиция
размер
отступы
цвет
декорирование
*/

@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Roboto-light; /* Имя шрифта */
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Roboto-bold; /* Имя шрифта */
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Roboto-italic; /* Имя шрифта */
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Roboto-italic; /* Имя шрифта */
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Pacifico; /* Имя шрифта */
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf); /* Путь к файлу со шрифтом */
   } 
   
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#preLoader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 2;
}

/*__________ header __________*/
html{
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    font-stretch: expanded;
}

header{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: blueviolet;
}

.siteLogo{
    font-family: Pacifico, cursive;
    float: left;
    margin-left: 15px;
}

.siteLogo a{
    display: flex;
    height: 50px;
}

.siteLogo a img{
    width: 50px;
    height: 50px;
}

.siteLogo a span{
    font-size: 30px;
    color:white;
    margin-bottom: 5px
}

.userMenu{
    display: flex;
    float: right;
    align-items: center;
    height: 100%;
}

.usersNoteAmount{
    position: absolute;
    right: 0;
    bottom: 5px;
    color: white;
}

.massages,.notifications{
    margin-top: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.massages{
    width: 50px;
    background-image: url('../images/massages.svg');
}

.notifications{
    width: 35px;
    background-position: 30% 0;
    background-image: url('../images/notifications.svg');
}

.avatar{
    margin-left: 5px;
    box-sizing: border-box;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    float: right;
    background-image: url('../images/avatar.png');
    border: 3px solid white;
    background-size: 150% 150%;
    background-position: 50% 50%;
}

@media screen and (max-width: 400px){
    
    header .siteLogo span{
        display: none;
    }
}

/*__________ nav __________*/
    .blickDagger{
        position: fixed;
        z-index: 1;
        height: 4em; /*Ну хз EM использовать прикольно но лень рефакторить*/
        width: 4em;
        bottom: 20px;
        right: 20px;
        background-color: blueviolet;
        border-radius: 100%;
    }

    .nav-zatychka{
        box-sizing: border-box;
        float: left;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding-bottom: 5px;
    }
    
    .nav-zatychka span{
        padding: 5px 0;
        padding-left: 20px;
        color: white;
        font-size: 25px;
    }
    
    .nav-zatychka span:hover{
        color: rgb(134, 134, 255);
    }

    .nav-main{
        margin-right: 15px;
        box-sizing: border-box;
        display: none;
        height: 40px;
        width: 40px;
        border: 4px solid white;
    }

    .nav-content{
        display: none;
        flex-wrap: wrap;
        z-index:1;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0;
        background-color: white;
    }

    .nav-content a{
        width: 100%;
    }

    .nav-content a span{
        box-sizing: border-box;
        clear: both;
        display: block;
        padding: 10px;
    }
    
    @media (max-width: 640px){
        .blickDagger{
            height: 3em;
            width: 3em;
        }

        .nav-zatychka{
            display: none;
        }

        .nav-main{
            display: block;
        }

        .avatar{
            margin-right: 10px;
        }
    }
/*__________ article __________*/
article{
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 100px);
    background-color: #FFF;
}
/*__________ footer __________*/
footer{
    color: white;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: black;
}