/* СТРУКТУРА
отображение
позиция
размер
отступы
цвет
декорирование
*/

.preLoader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
}

.loadingText{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    transform: translate(1px,1px);
    width: 65.33px;
}

.loadingText:after{
    content:'...';
    animation: dots 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes dots {
    0% {
        content:'';
    }

    25% {
        content:'.';
    }
    
    50% {
        content:'..';
    }

    75% {
        content:'...';
    }
}

.carousel{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border-width: 5px;
    border-style: solid;
    outline-width: 5px;
    outline-style: solid;
    outline-offset: -5px;
    animation: ceepRolling 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes ceepRolling {
    100%{
        transform: rotate(360deg);
    }
}

.hideLoader{
    animation: predatorMode 1s;
    animation-fill-mode: forwards;
}

@keyframes predatorMode {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.preLoader img{
    width: 100px;
}

@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Roboto-light; /* Имя шрифта */
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Roboto-bold; /* Имя шрифта */
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Roboto-italic; /* Имя шрифта */
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Roboto-italic; /* Имя шрифта */
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Pacifico; /* Имя шрифта */
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf); /* Путь к файлу со шрифтом */
   } 
   
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*:focus{
    outline: none;
}

#preLoader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 2;
}

html{
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    font-stretch: expanded;
}

/*__________ header __________*/

header{
    z-index:1;
    top:0;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    box-shadow: 0 10px 5px -10px black inset,0 -10px 5px -10px black inset;
}

.siteLogo{
    font-family: Pacifico, cursive;
    float: left;
    margin-left: 15px;
}

.siteLogo a{
    display: flex;
    align-items: center;
    height: 50px;
}

.siteLogo a img{
    width: 35px;
    height: 35px;
}

.siteLogo a span{
    font-size: 30px;
    color:white;
    margin-bottom: 5px
}

.userMenu{
    display: flex;
    float: right;
    align-items: center;
    height: 100%;
}
/*
.usersNoteAmount{
    position: absolute;
    right: 0;
    bottom: 5px;
    color: white;
}

.massages,.notifications{
    margin-top: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.massages{
    width: 50px;
    background-image: url('../images/massages.png');
}

.notifications{
    width: 35px;
    background-position: 30% 0;
    background-image: url('../images/notifications.png');
}

.avatar{
    margin-left: 5px;
    box-sizing: border-box;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    float: right;
    background-image: url('../images/avatar.png');
    border: 3px solid white;
    background-size: 150% 150%;
    background-position: 50% 50%;
}
*/
@media screen and (max-width: 400px){
    
    header .siteLogo span{
        display: none;
    }
}

/*__________ nav __________*/
    .blickDagger{
        position: fixed;
        z-index: 1;
        height: 4em; /*Ну хз EM использовать прикольно но лень рефакторить*/
        width: 4em;
        bottom: 20px;
        right: 20px;
        background-color: blueviolet;
        border-radius: 100%;
        display: none;
    }

    .nav-zatychka{
        box-sizing: border-box;
        float: left;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding-bottom: 5px;
    }
    
    .nav-zatychka span{
        padding: 5px 0;
        padding-left: 20px;
        color: white;
        font-size: 25px;
    }
    
    .nav-zatychka span:hover{
        color: rgb(134, 134, 255);
    }

    .nav-main{
        margin-right: 15px;
        box-sizing: border-box;
        display: none;
        height: 40px;
        width: 40px;
        border: 4px solid white;
    }

    .nav-content{
        display: none;
        flex-wrap: wrap;
        z-index:1;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0;
        background-color: white;
    }

    .nav-content a{
        width: 100%;
    }

    .nav-content a span{
        box-sizing: border-box;
        clear: both;
        display: block;
        padding: 10px;
    }
    
    @media (max-width: 640px){
        .blickDagger{
            height: 3em;
            width: 3em;
        }

        .nav-zatychka{
            display: none;
        }

        .nav-main{
            display: block;
        }

        .avatar{
            margin-right: 10px;
        }
    }
/*__________ article __________*/
article{
    margin-top: 50px;
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 174px);
    background-color: #FFF;
}
/*__________ footer __________*/
footer{

    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 10%;
    background-color: black;
    color: white;
}

footer a{
    color: white;
}

footer a:hover{
    color: rgb(223, 155, 255);
}

footer a:focus{
    color: rgb(223, 155, 255);
    text-shadow: 0 0 5px white;
}

footer ul{
    list-style: none;
    padding: 20px 5%;
}

footer ul li{
    font-size: 15px;
}

footer ul li:first-child{
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
}