article{
    background-color: black;
    display: flex;
}

.redactor{
    box-sizing: border-box;
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    padding: 0 15px 0 0;
}

.redactor .redactorArea{
    width: 100%;
    height: calc(100vh - 205px);
    background-color: white;
}

.redactor .redactorArea .questMode{
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    clear: both;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    width: 100%; 
    padding: 8px 10px;
    margin: 10px 0 0 10px;
    border: none;
    background: none;
    color: lightgray;
}
.redactor .redactorArea .questMode img{
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.redactor .redactorArea .questMode:hover{
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 5px 0px rgba(000,000,000,0.2);
    color: black;
}

.redactor .redactorArea .question{
    padding: 20px;
}

.redactor .redactorArea .question textarea{
    font-size: 20px;
    height: 120px;
    resize: none;
    width: 90%;
    border: 2px solid;
    border-color: black;
    border-style: solid;
    border-width: 0 0 2px 2px;
}

.redactor .redactorArea .question .oneAnswer{
    border: black solid;
    border-width: 0 0 2px 0;
    font-size: 20px;
}

.redactor .redactorArea .question .controls{
    display: block;
    cursor: pointer;
    width: 50px;
    height: 30px;
    margin: 5px 0;
    background-color: blueviolet;
    box-shadow: 0 0 5px 0px black;
    color: white;
    border: none;
    font-size: 20px;
}

.redactor .redactorArea .question .answer{
    display: flex;
    align-items: center;
}

.redactor .redactorArea .question .answer span{
    font-size: 25px;
    margin-right: 10px;
    width: 20px;
}

.redactor .redactorArea .question .answer input{
    max-width: 50%;
    font-size: 25px;
    margin-right: 10px;
    border: solid black;
    border-width: 0 0 2px 0;
}

.redactor .redactorButtons{
    display: table;
    float: right;
    margin-top: 15px;
    padding: 10px;
    background-color: white;
}

.redactor .redactorButtons button{
    margin: 5px;
    font-size: 25px;
    padding: 8px 10px;
    background-color: blueviolet;
    box-shadow: 0 0 5px 0px black;
    color: white;
    border: none;
}

.questContainer{
    overflow-y: scroll;
    width: 250px;
    height: calc(100vh - 100px);
    background-color: white;
}

.questions .questBlock, .questCreate{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    height:100px;
    margin: 0 auto;
    margin-top: 5%;
    background-color: blueviolet;
    box-shadow: 0 0 10px 0 black;
}

.questCreate{
    font-size: 120px;
}

@media (max-width:450px){
    .questContainer{
        width: 100px;
    }    

    .redactor{
        width: calc(100% - 100px);
    }
}