article{
    background-color: black;
    display: flex;
    min-height: calc(100vh - 50px);
}

.redactor{
    box-sizing: border-box;
    width: calc(100% - 250px);
    padding: 0 15px 0 0;
}

.redactor .redactorArea{
    position: relative;
    width: 100%;
    background-color: white;
}

.redactor .redactorArea .questMode{
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    clear: both;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    width: 100%; 
    padding: 8px 10px;
    margin: 10px 0 0 10px;
    border: none;
    background: none;
    color: lightgray;
}
.redactor .redactorArea .questMode img{
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.redactor .redactorArea .questMode:hover{
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 5px 0px rgba(000,000,000,0.2);
    color: black;
}

.redactor .redactorArea .question{
    padding: 20px;
}

.redactor .redactorArea .question textarea{
    border-radius: 0;
    font-size: 20px;
    height: 120px;
    resize: none;
    width: 90%;
    margin-bottom: 5px;
    border: 2px solid;
    border-color: black;
    border-style: solid;
    border-width: 0 0 2px 2px;
}

.redactor .redactorArea .question .oneAnswer{
    border-radius: 0;
    border: black solid;
    border-width: 0 0 2px 0;
    font-size: 20px;
}

.redactor .redactorArea .question .controls{
    flex-shrink: 0;
    display: block;
    cursor: pointer;
    width: 50px;
    height: 30px;
    margin: 5px 0;
    background-color: blueviolet;
    box-shadow: 0 0 5px 0px black;
    color: white;
    border: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.redactor .redactorArea .question .answer{
    display: flex;
    align-items: center;
}

.redactor .redactorArea .question .answer span{
    font-size: 25px;
    margin-right: 10px;
    width: 20px;
}

.redactor .redactorArea .question .answer .input{
    width: calc(100% - 140px);
    border-radius: 0;
    font-size: 25px;
    margin-right: 35px;
    border: solid black;
    border-width: 0 0 2px 0;
}

.redactor .redactorButtons,.backButton{
    display: table;
    float: right;
    margin-top: 15px;
    padding: 10px;
    background-color: white;
}

.backButton{
    margin-right: 20px;
}

.redactor .redactorButtons button, .buttonSub, .help{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 5px;
    font-size: 25px;
    padding: 8px 10px;
    background-color: blueviolet;
    box-shadow: 0 0 5px 0px black;
    color: white;
    border: none;
    text-align: center;
}

.questContainer{
    position: fixed;
    right: 0;
    overflow-y: scroll;
    width: 250px;
    height: calc(100vh - 50px);
    background-color: white;
}

.questions .questBlock, #questCreate{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    height:100px;
    margin: 0 auto;
    margin-top: 5%;
    background-color: blueviolet;
    box-shadow: 0 0 10px 0 black;
}

.questCreate{
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:660px){
    .questContainer{
        width: 100px;
    }    

    .questBlock span{
        font-size: 10px;
    }

    .questMode img{
        width: 50px;
        height: 50px;
    }

    .redactor{
        width: calc(100% - 100px);
        padding: 0 5px 0 0 ;
    }

    .redactor .redactorArea{
        max-height: calc(100vh - 168px);        
    }

    #questCreate{
        height: 80px;
    }

    .redactor .redactorArea .questMode{
        font-size: 10px;
        color: black;
    }

    .redactor .redactorButtons,.backButton{
        margin-top: 5px;
    }

    .redactor .redactorButtons button, .buttonSub, .help{
        font-size: 15px;
    }

    .backButton{
        margin-right: 5px;
    }

    .questions .questBlock, .questCreate{
        box-sizing: border-box;
        height: 80px;
        padding: 5px;
    }

    .questCreate{
        font-size: 40px ;
    }

    .questions .questBlock span{
        width: 70%;
    }

    .questions .questBlock .JOPA{
        margin-left: 5px;
    }

    .redactor .redactorArea .question .answer{
        height: 30px;
    }

    .redactor .redactorArea .question .answer span{
        font-size: 15px;
        margin-right:0;
        width: 20px;
    }
    
    .redactor .redactorArea .question .answer input{
        font-size: 15px;
    }

    .redactor .redactorArea .question .controls{
        width: 30px;
        height: 20px;
        font-size: 20px;
    }    

    .oneAnswer{
        width: 80%;
    }

    .questions .questBlock span{
        width: 35px;        
    }

    .questions .questBlock .JOPA{
        margin-left: 5px;
        font-size:40px;
    }

    .redactor .redactorArea .question .answer input{
        width: calc(100% - 100px);
    }
}

.question{
    display: none;
}

.current{
    display: block;
}

/*CHECKBOXES*/

.checkbox{
    margin-right: 10px;
    width: 13px;
}

.checkBox{
    opacity: 0;
    z-index: -1;
    position: absolute;
}

label{
    position: relative;
    cursor: pointer;
}

.checkBox + label:before,.checkBox:checked + label:before{
    top: -13px;
    left: -25px;
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    transition: 0.2s;
    box-shadow: 0 0 5px 0 black;
}

.checkBox + label:after, .checkBox:checked + label:after{
    /*top: 12px; fuck this*/
    transform: translate(0,-12px);
    left: -22px;
    content: '';
    position: absolute;

}

.checkBox:checked + label:before{
    background-color: deeppink;
}

.checkBox:checked + label:after{
    content: '✔';
    color: white;
    font-size: 23px;
    right: -22px;
    top: -5px;
}

/*radio*/

.radio{
    margin-right: 10px;
    width: 13px;
}

.Radio{
    margin-right: 20px;
    opacity: 0;
    z-index: -1;
    position: absolute;
}

label{
    position: relative;
    cursor: pointer;
}

.Radio + label:before,.Radio:checked + label:before{
    content: '';
    top: -13px;
    left: -25px;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    transition: 0.2s;
    box-shadow: 0 0 5px 0 black;
    border-radius: 12.5px;
}

.Radio + label:after, .Radio:checked + label:after{
    content: '';
    box-sizing: border-box;
    top: -8px;
    left: -20px;
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 10px;
}

.Radio:checked + label:before{
    background-color: deeppink;
}

.Radio:checked + label:after{
    content: '';
    border: 2px solid black;
    box-shadow: 0 0 3px 0 black;
}

.oneAnswerInput{
    height: 31px;
    border-radius: 0;
    max-width: 50%;
    font-size: 25px;
    margin-right: 35px;
    border: solid black;
    border-width: 0 0 2px 0;
}

/*Тута preparation*/

.preparation,.instruction{
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: black;
    z-index: 1;
}

.preparation ul{
    
}

.preparation ul li{
    display: inline-block;
}

.preparation ul li input[type = radio]{
    
}

.preparation .main-input{
    display: block;
    background-color: white;
}

/*Помосч*/

.help{
    position: absolute;
    top: 10px;
    right: 10px;
}

.instruction{
    display: none;
    background-color: rgba(000,000,000,0.8);
}

.instruction{
    display: none;
    box-sizing: border-box;
    padding: 20px 5%;
    background-color: rgba(000,000,000,0.8);
}

.instruction h2{
color: white;
font-size: 40px;
}

.instruction .instSection{
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0;
    background-color: rgba(183, 158, 231, 0.8) ;
}

.instruction .instSection h3{
    color: white;
    font-size: 30px;
}

.instruction .instSection p{
    color: white;
}

/*Выбор optional*/

.questOptions{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.questOptions .optional{
    width: 30%;
}

.questOptions .answersContainer{
    width: 70%;
}

@media(max-width:900px){
    .questOptions .optional{
        width: 100%;
    }
    
    .questOptions .answersContainer{
        width: 100%;
    }
}


.questOptions .optional ul{
    text-align: center;
    list-style: none;
}

.questOptions .optional ul li{
    display: inline-block;
}

.opt-mode{
    opacity: 0;
    z-index: -1;
    display: block;
    height: 40px;
    width: 40px;
}

.opt-mode + label{
    transform: translate(-40px,0);
    position: relative;
}

.opt-mode + label:before, .opt-mode:checked + label:before{
    transition: 1s;
    content: '';
    position: absolute;
    display: block;
    top: -40px;
    left: -20px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: lightgray;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.opt-mode:checked + label:before{
    background-color: dodgerblue;
}

.nothing-opt + label:before, .nothing-opt:checked + label:before{
    background-image: url(../images/nothing.png);
}

.image-opt + label:before, .image-opt:checked + label:before{
    background-image: url(../images/picture.png);
}

.code-opt + label:before, .code-opt:checked + label:before{
    background-image: url(../images/code.png);
}


@media (max-width:450px){
    /*CHECKBOXES*/
    .checkbox{
        margin-right: 10px;
    }

    .checkBox + label:before,.checkBox:checked + label:before{
        top: -10px;
        left: -25px;
        width: 20px;
        height: 20px;
    }

    .checkBox:checked + label:after{
        font-size: 20px;
        right: -24px;
        top: -3px;
    }

    /*radio*/

    .Radio + label:before,.Radio:checked + label:before{
        top: -11px;
        left: -25px;
        width: 20px;
        height: 20px;
    }

    .Radio + label:after, .Radio:checked + label:after{
        top: -8px;
        left: -20px;
        width: 15px;
        height: 15px;
    }

    .Radio + label:after, .Radio:checked + label:after{
        top: -7px;
        left: -21px;
        width: 12px;
        height: 12px;
    }

    .oneAnswerInput{
        max-width: 100%;
        width: 100vw;
        margin: 0;
    }
}


.checkBox, .Radio{
    width: 13px;
}

/*head update*/

.redactorHead{
    display: flex;
    align-items: flex-end;
}

.redactorHead *{
    margin: 20px 0 20px 20px ;
}

.redactorHead img{
    width: 50px;
}

.redactorHead h1{
    color: white;
}