body{
    background-color: black;
    overflow-y: hidden;
}

.current{
    display: block !important;
}

.question{
    display: none;
}

.currentBut{
    background-color: deeppink !important;
}

article{
    width:90%;
    margin-left: 5%;
    background-color: rgba(000, 000, 000, 0);
}

.olymp-head{
    display: flex;
    background-color: black;
    color: white;
}

.olymp-head{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    background-color: black;
    color: white;
}

.olymp-head img{
    width: 100px;
}

.olymp-head h1{
    margin-left: 20px;
    font-size: 45px;
}

.olymp-flex{
    display: flex;
    width: 100%;
}

.olymp-flex .olymp-body{
    flex-grow: 4;
}

.olymp-flex .olymp-body .olymp-question{
    padding: 10px;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.olymp-flex .olymp-body .olymp-question h2{
    font-size: 20px;
}

.olymp-flex .olymp-body .olymp-question h3{
    font-size: 30px;
}

.olymp-flex .olymp-body .olymp-question img{
    max-width: 100%;
    max-height: 50vh;
}

.olymp-flex .olymp-body .olymp-answers{
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
    background-color: white;
}

.olymp-flex .olymp-body .olymp-answers ul{
    list-style: none;
}

.olymp-flex .olymp-body .olymp-answers ul li{
    font-size: 25px;
}

.olymp-flex .olymp-body .olymp-answers ul li span{
    font-weight: bold;
}
/*чек бокс*/
input[type = checkbox]{
    display: inline-block;
    height: 25px;
    width: 25px;
    z-index: -1;
    opacity: 0;
}

input[type = checkbox] + label{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25px;
    width: 25px;
    transform: translateX(-25px);
}

input[type = checkbox] + label:before, input[type = checkbox]:checked + label:before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0;
    left: 0;
    background-color: lightgray;
    transition: .2s;
}

input[type = checkbox]:checked + label:before{
    background-color: dodgerblue;
}

input[type = checkbox] + label:after, input[type = checkbox]:checked + label:after{
    content: '';
    font-family: arial;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25px;
    width: 25px;
    transform: translateY(-1px);
}

input[type = checkbox]:checked + label:after{
    content: '✔';
}

input[type = radio]{
    display: inline-block;
    height: 25px;
    width: 25px;
    z-index: -1;
    opacity: 0;
}

input[type = radio] + label{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25px;
    width: 25px;
    transform: translateX(-25px);
}

input[type = radio] + label:before, input[type = checkbox]:checked + label:before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0;
    left: 0;
    background-color: lightgray;
    border-radius: 100%;
    transition: .2s;
}

input[type = radio]:checked + label:before{
    background-color: dodgerblue;
}

input[type = radio] + label:after, input[type = checkbox]:checked + label:after{
    content: '';
    font-family: arial;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 13px;
    width: 13px;
}

input[type = radio]:checked + label:after{
    content: '';
    border:2px solid black;
    box-shadow: 0 0 10px 0 black;
    border-radius: 100%;
}


.olymp-flex .olymp-nav{
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 10%;
    flex-grow: 1;
    background-color: white;
    overflow-y: scroll;
}

.olymp-flex .olymp-nav span{
    color: white;
    display: inline-block;
    box-sizing: border-box;
    border: 5px solid white;
    width: 50%;
    height: 50px;
    font-size: 20px;
    background-color: blueviolet;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 900px){
    .olymp-flex .olymp-nav span{
        width: 100%;
    }
}

@media (max-width: 800px){
    .olymp-flex .olymp-nav{
        width: 15%;
    }
}

@media (max-width: 650px){
    .olymp-flex .olymp-nav{
        width: 30%;
    }
}

@media (max-width: 460px){
    .olymp-flex .olymp-nav{
        width: 50%;
    }
}

.cde-func{
    color: orange;
}

.cde-atreb{
    color: rgb(115, 115, 255);
}

.cde-qote{
    color: brown;
}

code,pre{
    background-color: black;
    color:white;
}

.cde-cmnt{
    color:green;
}

.preparation{
    top: 50px;
    left: 0px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: black;
    z-index: 1;
}

.preparation span{
    padding: 10px;
}

.preparation .main-input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}

.preparation span{
    font-size: 35px;
    text-shadow: 2px 2px 0 orange;
}

.preparation div{
    margin: 0 10px 10px 10px;
}

.buttonSub{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 5px;
    font-size: 25px;
    padding: 8px 10px;
    background-color: blueviolet;
    box-shadow: 0 0 5px 0px black;
    color: white;
    border: none;
    text-align: center;
}