article{
    background-color: black;
    color: white;
}
/*категории*/
article .olympCategories{
    width: 80%;
    padding: 0 10%;
    padding-bottom: 20px;
    background-color: dodgerblue;
    background: linear-gradient(140deg, dodgerblue, rgb(1, 42, 82));
}
/*выбор категории*/
article .olympCategories .cat-nav{
    padding-bottom: 20px;
    width: 100%;
    overflow-x: auto;
}

article .olympCategories .cat-nav ul{
    margin-top: 20px;
    display: flex;
    list-style: none;
}

article .olympCategories .cat-nav ul li{
    display: flex;
    align-items: center;
    margin-right: 10px;    
}

article .olympCategories .cat-nav ul li:before{
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: white;
}

article .olympCategories .cat-nav ul li:first-child:before{
    content: '';
    display: none;
}

article .olympCategories .cat-nav ul li img{
    width: 35px;
    height: 35px;
}

/*оглавлении категории*/
article .olympCategories .cat-head{
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 15px;
}

article .olympCategories .cat-head img{
    height: 100px;  
    margin-right: 20px; 
}

article .olympCategories .cat-head h1{
    font-size: 40px;
}
/*описание категории*/
article .olympCategories .cat-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
}

article .olympCategories .cat-description p{
    font-size: 25px;
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
/*выбор олимпиады*/
article .olympSelect{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    background-color: rgb(183, 158, 231);
    color: black;
}

article .olympSelect .olymp{
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(100, 88, 124);
}

article .olympSelect .olymp span{
    font-size: 30px;
}

article .olympSelect .olymp h3{
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 10px;
    font-size: 30px;
    text-align: right;
    vertical-align: bottom;
}

article .olympSelect .olymp p{
    font-size: 20px;
    flex-grow: 1;
}

article .olympSelect .olymp div{
    margin-top: 5px;
    align-self: flex-start;
    display: table;
    padding: 20px;
    background-color: rgb(31, 31, 138);
    color: white;
    box-shadow: 0 0 10px 0 black;
}

/*АДАПТИВ*/

@media(max-width:400px){

    article .olympCategories .cat-head img{
        height: 70px;  
    }
    
    article .olympCategories .cat-head h1{
        font-size: 30px;
    }   
    
    article .olympCategories .cat-description p{
        font-size: 20px;
    }
    
    article .olympSelect .olymp h3{
    font-size: 25px;
    }

    article .olympSelect .olymp p{
        font-size: 15px;
    }
}