doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Bad Url
  body
    article(style='margin: auto')
      h1 Hmmmmm..
      small Seems like an error
      a(href='/')
        button Go home
      |  or 
      a.link-button.link-back-button(onclick='history.back(-1)') Go Back
