doctype
head
    title Страница Создателей
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../stylesheets/bootstrap/bootstrap.min.css")
body
    block main
footer
    center
        p Навигация
        a(href="/founder") Главная