extends ../public/index

block header
    <link rel="stylesheet" href="../stylesheets/aboutUs.css">
    <title>#{title_page}</title>

block main
    article
        section(class="main")
            h1 О проекте MirukiBox
            p Сайт создан студентами ПО-31 для защиты курсового проекта
            p Необходимость разработки Web-сайта «Проведение олимпиад по информатике» возникла в следствии как такового отсутствия данного программного продукта в Башкирском архитектурном колледже строительства и коммунального хозяйства. Олимпиады по информатике – достаточно удобный, относительно быстрый и поощряющий юные умы способ проверки знаний учащихся учебных учреждений. Наш сайт способен осуществить данную задачу очень эффективно. Основная тематика для проведения олимпиад – информатика. HTML/CSS, MS Office (MS Word, MS Excel, MS PowerPoint), C#, C++ и множество других языков. Также предусмотрена возможность создания тестов, добавление в них различных вопросов, задач, просмотр результатов, создание олимпиад, скачивание сертификатов.
        section(class="management")
            h2 Структура проекта
            div(class="flex")
                p Структура проекта состоит из нескольких звеньев – Руководство, Функциональный руководитель и Исполнители. Руководство представляет Парамонов Юрий Степанович (преподаватель ИТПД, компьютерных сетей). Функциональный руководитель является как исполнителем, так и лидером нижестоящих звеньев. Им является Леонтьев Егор Константинович. Исполнителями также являются Скрипко Владислав Евгеньевич и Самошкин Никита Алексеевич.
                img(src="images/схема.png" alt="")
        section(class="back-end")
            h2 За серверную часть отвечет ученик БАСКА Егор Леонтьев
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eum dignissimos, blanditiis saepe ducimus quod doloribus ipsam tempore facilis consequatur? Quos maxime eum aut adipisci nostrum voluptatem iusto, debitis sunt!
        section(class="front-end")
            h2 За визуальную часть отвечет ученик БАСКА Никита Самошкин
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eum dignissimos, blanditiis saepe ducimus quod doloribus ipsam tempore facilis consequatur? Quos maxime eum aut adipisci nostrum voluptatem iusto, debitis sunt!
        section(class="something")
            h2 За контент и тесты отвечет ученик БАСКА Владислав Скрипко
            p Наше интерактивное средство обучения предназначено для участия в олимпиадах по различным тематикам. В нем составлены достаточно интересные тестовые задания. Это интерактивное средство учит не только и не столько "нажимать кнопки", его главная задача – помочь пользователю оценить его уровень знаний, указать на ошибки. Сайт будет полезен как начинающим, так и опытным пользователям, желающим пройти олимпиады, проверить знания и получить соответствующий сертификат.