extends ../public/index.pug

block header
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="stylesheets/index.css">
    <title>#{title_page}</title>

block main
    article
        section(class="banner")
            div(class="textBlock")
                span(class="subText") Лучший инструмент для проверки знаний
                h1 Олимпиады MirukiBox
                span Вопросы написанные лучшими преподователями БАСК'а
                br
                a(href="/olympList")
                    button проверь свои знания на прочность
        h2(class="cards-label") Наши направления
        section(class="cardsContainer")
            div(class="cardsFlex")
                div(class="cards")
                    div(class="card")
                        img(src="images/arch.png" alt="Иконка специальности")
                        h3 Архитектура
                        p Проверка знаний современных стандартов планировки и строительства
                    div(class="card")
                        img(src="images/prog.png" alt="Иконка специальности")
                        h3 Программирование
                        p Инновационные методы программирования, использующийся в самых известных IT компаниях.
                    div(class="card")
                        img(src="images/weld.png" alt="Иконка специальности")
                        h3 Сварка
                        p Обращение с современными сварочными аппаратами и глубочайшие тонкости процесса сварки
                    div(class="card")
                        img(src="images/mech.png" alt="Иконка специальности")
                        h3 Автомеханика
                        p Выполнение ремонтных работ и техобслуживание автомобилей, контроль состояния транспортных средств.
                    div(class="card")
                        img(src="images/office.png" alt="Иконка специальности")
                        h3 Офисное ПО
                        p Проверка умений работы с ПО от Microsoft. Такими как Word, Excel, Acess, PowerPoint
                    div(class="card")
                        img(src="images/art.png" alt="Иконка специальности")
                        h3 Графические ПО
                        p Работа с редакторами векторной и растровой графики. Основы дизайна, значения цветов и их комбинации.