extends ../public/index

block header
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="stylesheets/olympInfo.css">
    <title><%= title_page%></title>
    
block main
    article  
        section
            H1 Название олимпиады
            ul
                li Ограничение временни: 30 минут
                li Всего вопросов: 13 минут
                li Всего человек прошло: 12

            div(class="users")

                div(class="user")
                    div(class="avatar")
                    ul
                        li Иванов Иван Иванович
                        li Верных ответов: 10
                        li Время: 20 минут
                        li Дата прохождения: 01.05.2020
                    div(class="medal")
                        span(class="rating") B 