extends ../public/index.pug

block header
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="stylesheets/profile.css">
    <title>#{title_page}</title>

block main
    div(class="preLoader")
        div(class="carousel")
        p(class="loadingText") Loading
    header(id="header")
        div(class="siteLogo")
            a(href="/")
                img(src="images/logover2.png" alt="")
                span MirukiBox
        nav(class="nav-zatychka")
            a(href="/olympList")
                span Олимпиады
            a(href="/certificate")
                span Сертификаты
            a(href="/about")
                span О нас
        div(class="userMenu")
            //div(class="massages")
            //    span(class="usersNoteAmount") 0
            //div(class="notifications")
            //    span(class="usersNoteAmount") 0
            //div(class="avatar")

            div(class="nav-main" onclick="navOpen()")
            div(class="nav-content")
                a(href="/")
                    span Главная
                a(href="/olympList")
                    span Олимпиады
                a(href="/certificate")
                    span Сертификаты
                a(href="/about")
                    span О нас

    article
        section
            div(class="mainUserBlock")
                div(class="avatarBlock")
                h1(class="surName") Иванов
                h2(class="otherNames") Иван Иванович
                ul(class="userInfo")
                        li Студент
                        li Уфа
                        li ПО-31
                        li Email:chelyk@info.gay
            div(class="olymps")
                h5 Олимпиады
                div(class="olymp")
                    div(class="medal gold") 1
                    div(class="olympInfo")
                        h3 Название Олимпиады
                        span 29.04.2020
                    h4 1 место
                div(class="olymp")
                    div(class="medal silver") 2
                    div(class="olympInfo")
                        h3 Название Олимпиады
                        span 29.04.2020
                    h4 2 место
                div(class="olymp")
                    div(class="medal bronze") 3
                    div(class="olympInfo")
                        h3 Название Олимпиады
                        span 29.04.2020
                    h4 3 место
                div(class="olymp")
                    div(class="medal junk") уч
                    div(class="olympInfo")
                        h3 Название Олимпиады
                        span 29.04.2020
                    h4 участие