extends ../public/index.pug

block header
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="stylesheets/registration.css">
    <title>#{title_page}</title>

block main
    div(class="preLoader")
        div(class="carousel")
        p(class="loadingText") Loading
    header(id="header")
        div(class="siteLogo")
            a(href="/")
                img(src="images/logover2.png" alt="")
                span MirukiBox
        nav(class="nav-zatychka")
            a(href="/olympList")
                span Олимпиады
            a(href="/certificate")
                span Сертификаты
            a(href="/about")
                span О нас
        div(class="userMenu")
            //div(class="massages")
            //    span(class="usersNoteAmount") 0
            //div(class="notifications")
            //    span(class="usersNoteAmount") 0
            //div(class="avatar")

            div(class="nav-main" onclick="navOpen()")
            div(class="nav-content")
                a(href="/")
                    span Главная
                a(href="/olympList")
                    span Олимпиады
                a(href="/certificate")
                    span Сертификаты
                a(href="/about")
                    span О нас

    article
        section
            div X
            form(action="/register/validate")
                span имя
                input(type="text" name="first_name" id="1" required)
                span фамилия
                input(type="text" name="second_name" id="2" required)
                span отчество
                input(type="text" name="third_name" id="3" required)
                span почта
                input(type="text" name="e_mail" id="4" required)
                span пароль
                input(type="password" name="password" id="fPass" required)
                span повторите пароль
                input(type="password" name="" id="sPass" required)

                p Я даю разрешение на обработку данных 
                    input(type="checkbox" name="confidential" id="5" required)

                p Я принимаю условия 
                    a(href="" class="userAgree") пользовательского соглашения
                    input(type="checkbox" name="accept_conditions" id="6" required)

                button(type="submit" id="sub" disabled) Регистрация

                a(href="login" class="toLogin") У меня уже есть аккаунт
                <script src="scripts/registration/main.js"></script>