<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="stylesheets/testResult.css">
    <title><%= title_page%></title>
    <script src="scripts/testResult.js"></script>
</head>
<body>
    <div class="preLoader">
        <div class="carousel"></div>
        <p class="loadingText">Loading</p>
    </div>
    <header id="header">
        <div class="siteLogo">
            <a href="/">
                <img src="images/logover2.png" alt="">
                <span>MirukiBox</span>
            </a>
        </div>
        <nav class="nav-zatychka">
            <a href="/olympList">
                <span>
                    Олимпиады
                </span>
            </a>
            <a href="/certificate">
                <span>
                    Сертификаты
                </span>
            </a>
            <a href="/about">
                <span>
                    О нас
                </span>
            </a>
        </nav>
        <div class="userMenu">
            <!--<div class="massages">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="notifications">
                <span class="usersNoteAmount"> 0 </span>
            </div>
            <div class="avatar">
            </div>-->
            <div class="nav-main" onclick="navOpen()">
            </div>
            <div class="nav-content">
                <a href="/">
                <span>
                    Главная
                </span>
                </a>
                <a href="/olympList">
                <span>
                    Олимпиады
                </span>
                </a>
                <a href="/certificate">
                    <span>
                        Сертификаты
                    </span>
                    </a>
                <a href="/about">
                <span>
                    О нас
                </span>
                </a>
            </div>
        </div>
    </header>
    <article>
        
        <section>
            
            <H1>Результат</H1>
            <p>Правильных ответов: </p>
            <p>Затрачено времени: </p>                

            <figure class="moreInfo">
                <svg class="answers">
                    <circle cx="35" cy="35" r="30" class="rail"></circle>
                    <circle cx="35" cy="35" r="30" class="train" transform='rotate(-90 35 35)'></circle>
                </svg>
                <p class="answersTitle">ответов</p>
                <span class="answersP">0%</span>

                <svg class="time">
                    <circle cx="35" cy="35" r="30" class="rail"></circle>
                    <circle cx="35" cy="35" r="30" class="train" transform='rotate(-90 35 35)'></circle>
                    <circle cx="35" cy="35" r="30" class="vagon" transform='rotate(-90 35 35)'></circle>
                </svg>
                <p class="timeTitle">времени</p>
                <span class="timeP">0%</span>
            </figure>

            <figure class="final">
                <span class="procent">70%</span>
                <div class="medal">
                    <span class="rank">B</span>
                </div>
                <svg>
                    <circle cx="75" cy="75" r="70" class="rail"></circle>
                    <circle cx="75" cy="75" r="70" class="train" transform='rotate(-90 75 75)'></circle>
                </svg>

                <p>набрано баллов</p>
                
            </figure>

            <button>Завершить</button>

        </section>

        <script>
            //TODO: тут вывод результата
            //generateResult(всего вопросов, правильных ответов, максимум временни (сек), время прохождения пользователя(сек))
            //оценка вычисляется так
            //процент прохождения = 100 / общее колво вопросов * колво правельных ответов
            //и если время пользователя привышает максимальное то
            // мы вычитаем из процента прохождения 20 и вычитаем 1 за каждую минуту
            generateResult(13,13,1800,2000)
        </script>

    </article>

    <footer>
        <ul>
            <li>Навигация</li>
            <li><a href="/">Главная</a></li>
            <li><a href="/olympList">Олимпиады</a></li>
            <li><a href="/certificate">Сертификаты</a></li>
            <li><a href="/about">О нас</a></li>
        </ul>

        <ul>
            <li>Контакты</li>
            <li>Почта: standart@mail.gomo</li>
            <li>Адресс: тупо БАСК</li>
        </ul>

    </footer>
</body>
</html>