article{
    background:linear-gradient(50deg,#675192, #0f0b14);
}

article .olymp-head{
    width: 90%;
    margin-left: 5%;
    background-color: white;
    color: black;
    padding: 20px;
    box-sizing: border-box;
}

article .olymp-head img{
    display:none;
}

article .olymp-head h1{
    font-size: 45px;
}

article form{
    color: black;
}

article form .olymp-flex{
    width: 90%;
    margin-left: 5%;
    background-color: white;
}

article form .olymp-flex .olymp-body{
    
}

article form .olymp-flex .olymp-body .card{
    
}

article form .olymp-flex .olymp-body .card .card-header{
    
}

article form .olymp-flex .olymp-body .card .card-header:first-child{
    padding: 0;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

article form .olymp-flex .olymp-body .card .card-header p:first-child{
    display: inline-block;
    margin: 0;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: blueviolet;
    box-shadow: 0 -2px 10px -1px black;
    color: white;
}

article form .olymp-flex .olymp-body .card .card-header p:first-child::after{
    content: '-й вопрос';
}

article form .olymp-flex .olymp-body .card .card-body{
    
}

article form .olymp-flex .olymp-body .card .card-body .card-header{ /*тут типо вопрос*/
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

article form .olymp-flex .olymp-body .card .card-body .card-header iframe{
    border: none;
    border: 1px solid rgba(0, 0, 0, .2);
    border-left: 5px solid blueviolet;
    border-radius: 5px;
}

article form .olymp-flex .olymp-body .card .card-body .card-header p{
    display: initial;
    width: initial;
    font-size: initial;
    background-color: initial;
    color: initial;
    padding: initial;
    box-sizing: initial;
    box-shadow: initial;
}

article form .olymp-flex .olymp-body .card .card-body .card-header p::after{
    display: none;
}

article form .olymp-flex .olymp-body .card .card-body .card-body{
    
}

article form .olymp-flex .olymp-body .card .card-body .card-body input[type = text]{
    border: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

article form .olymp-flex .olymp-body .card .card-body .card-body .input-group{ /*тип ответ*/
    
}

article form .olymp-flex .olymp-body .card .card-body .card-body .input-group:hover{ /*тип ответ*/
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
}

article form .olymp-flex .olymp-body .card .card-body .card-body .input-group .input-group-prepend{ /*коробка с чекбоксом*/
    background-color: rgba(0, 0, 0, 0);
}

article form .olymp-flex .olymp-body .card .card-body .card-body .input-group .input-group-prepend .input-group-text{
    background-color: rgba(0, 0, 0, .1);
}

article form .olymp-flex .olymp-body .card .card-body .card-body .input-group .input-group-prepend .input-group-text input[type = radio]{
    
}

article form .olymp-flex .olymp-body .card .card-body .card-body .input-group .form-control{ /*ответ наверное*/
    background-color: rgba(0, 0, 0, 0);
}

article form .olymp-flex .olymp-nav .buttons button{
    border: none;
    font-size: 25px;
    padding: 5px 10px;
    color: white;
    background-color: blueviolet;
    margin: 10px;
    margin-left: 20px;
    box-shadow: 0 0 10px black;
}

article form .olymp-flex .olymp-button{

}