article{
    background:linear-gradient(50deg,#675192, #0f0b14);
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    text-align: center;
    position: relative;
    background-color: white;
    width: 470px;
    padding-bottom: 20px;
    margin-top: 20px;
}

section div{
    position: absolute;
    right: 20px;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 80px;
    background-color: blueviolet;
    color: white;
    font-size: 50px;
    text-shadow: -3px 3px 0 black;
}

section span{
    display: block;
    margin-left: 10%;
    text-align: left;
}

section span:first-child{
    margin-top: 50px;
}

section input[type=text], section input[type=password]{
    display: block;
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

section p{
    text-align: left;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
}

section p .userAgree{
    font-weight: bolder;
}

section input[type=checkbox]{

}

section button{
    margin-top: 20px;
    padding: 10px;
    font-size: 35px;
    color: white;
    background-color: blueviolet;
    border: none;
    box-shadow: 0 0 10px black;
    min-width: 200px;
}

section .toLogin{
    display: block;
    font-weight: bolder;
    margin-top: 10px;
}