.redactor{
    background:linear-gradient(to bottom, rgba(0, 0, 255, 0.726), rgba(0, 0, 0, 0) 20%);
}

.redactor .redactorArea .question .controls{
    background-color: blue;
    box-shadow: 0 0 5px 0px black;
    color: white;
}

.redactor .redactorButtons button, .buttonSub, .help{
    background-color: blue;
    box-shadow: 0 0 5px 0px black;
    color: white;
}

.questions .questBlock, #questCreate{
    background-color: blue;
    box-shadow: 0 0 10px 0 black;
}

.checkBox:checked + label:before{
    background-color: rgb(146, 181, 192);
}

.Radio:checked + label:before{
    background-color: rgb(146, 181, 192);;
}

.choosenOne{
    background-color: rgb(146, 181, 192) !important;
    color: black;
}