.redactor{
    background:linear-gradient(to bottom, rgba(30, 143, 255, 0.623), rgba(0, 0, 0, 0) 20%);
}

.redactor .redactorArea .question .controls{
    background-color: dodgerblue;
    box-shadow: 0 0 5px 0px black;
    color: white;
}

.redactor .redactorButtons button, .buttonSub, .help{
    background-color: dodgerblue;
    box-shadow: 0 0 5px 0px black;
    color: white;
}

.questions .questBlock, #questCreate{
    background-color: dodgerblue;
    box-shadow: 0 0 10px 0 black;
}

.checkBox:checked + label:before{
    background-color: blue;
}

.Radio:checked + label:before{
    background-color: blue;
}

.choosenOne{
    background-color: blue !important;
    color: white;
}