<!DOCTYPE html>
html(lang="en")
    head
        block header
    body
        block main
    footer
        ul
            li Навигация
            li
                a(href="/") Главная
            li
                a(href="/olympList") Олимпиады
            li
                a(href="/certificate") Сертификаты
            li
                a(href="/about") О нас
        ul
            li Контакты
            li Почта: standart@mail.gomo
            li Адресс: тупо БАСК
        .container
            p
            | &copy; 2016 |
            i.fa.fa-value(aria-hidden='true') &nbsp;
            a(href='#') View Source