<!DOCTYPE html>
html(lang="en")
    head
        block header
    body
        .preLoader
            .carousel
            p.loadingText Loading
        header#header
            .siteLogo
                a(href='/')
                    img(src='/images/logover2.png', alt='')
                    span MirukiBox
            nav.nav-zatychka
                a(href='/olympList')
                    span
                        | Олимпиады
                a(href='/certificate')
                    span
                        | Сертификаты
                a(href='/about')
                    span
                        | О нас
            .userMenu
                //
                    <div class="massages">
                    <span class="usersNoteAmount"> 0 </span>
                    </div>
                    <div class="notifications">
                    <span class="usersNoteAmount"> 0 </span>
                    </div>
                    <div class="avatar">
                    </div>
                .nav-main(onclick='navOpen()')
                .nav-content
                    a(href='/')
                        span
                            | Главная
                    a(href='/olympList')
                        span
                            | Олимпиады
                    a(href='/certificate')
                        span
                            | Сертификаты
                    a(href='/about')
                        span
                            | О нас
        block main
    footer
        ul
            li Навигация
            li
                a(href="/") Главная
            li
                a(href="/olympList") Олимпиады
            li
                a(href="/certificate") Сертификаты
            li
                a(href="/about") О нас
        ul
            li Контакты
            li Почта: standart@mail.gomo
            li Адресс: тупо БАСК
        .container
            p
            | &copy; 2020 |
            i.fa.fa-value(aria-hidden='true') &nbsp;
            a(href='#') View Source